{
  "printWidth": 180,
  "tabWidth": 2,
  "tabs": false,
  "singleQuote": true,
  "semicolon": true,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "semi": true,
  "trailingComma": "all"
}
